{% extends "base.html" %}
{% block title %}Notas — (Rota Vulnerável){% endblock %}
{% block content %}
<h1 class="h4">Notas do aluno: {{ aluno.nome }} <span class="badge bg-danger">IDOR</span></h1>
 <!-- (VULNERÁVEL) -->
<!-- <p class="text-muted">URL: <code>/notas/{{ aluno.id }}</code> — Tente trocar o número na URL.</p> -->
<table class="table table-striped">
  <thead><tr><th>Disciplina</th><th>Nota</th></tr></thead>
  <tbody>
    {% for n in notas %}
    <tr><td>{{ n.disciplina }}</td><td>{{ '%.1f'|format(n.nota) }}</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
